@use '../util/' as u;

input,
button,
textarea,
select {
  font: inherit;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.section-title {
  text-transform: uppercase;
}

body, .section-title {
  @include u.typography-1(18);
}

h2 {
  @include u.typography-2(24);
}
