@use '../util' as u;

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  padding: 0.5rem;
  border: 2px solid u.$highlight-color;
  background-color: u.$primary-color;
  width: 100%;
  color: u.$secondary-color;
  &:focus-visible {
    outline: none;
    border-color: u.$accent-color;
  }
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-details {
  text-align: right;
}

.form-group-wrapper {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
  gap: 2rem;
  p {
    color: u.$highlight-color;
    font-size: 1.6rem;
  }
  .form-group {
    flex-grow: 1;
  }
  @include u.breakpoint(medium) {
    flex-direction: row;
    justify-content: space-between;
  }
  @include u.breakpoint(large) {
    gap: 2rem;
  }
}

.btn {
  padding: 0.5rem 1rem;
  border: 2px solid u.$highlight-color;
  text-transform: uppercase;
  background-color: u.$primary-color;
  color: u.$highlight-color;
  position: relative;
  box-shadow: 5px 5px 0 -2px u.$accent-color, 5px 5px 0 0 u.$highlight-color;
  @include u.breakpoint(large) {
    min-width: 18rem;
    &:hover {
      box-shadow: 3px 3px 0 -2px u.$accent-color, 3px 3px 0 0 u.$highlight-color;
    }
  }
}

.map {
  border: 10px solid u.$accent-color;
  margin-block: 3rem;
  height: 180px;
  max-width: 540px;
  @include u.breakpoint(medium) {
    margin-block: 6rem;
  }
  iframe {
    width: 100%;
    height: 100%;    
  }
  
}
