@use '../util' as u;

footer {
  background-color: u.$secondary-color;
  text-align: center;
  .grid {
    margin-top: 0;
    padding-block: 3rem;
    align-items: center;
  }

  .footer-logo {
    margin: 0 auto;
  }

  &,
  a {
    color: u.$accent-color;
  }
  a:hover {
    text-decoration: underline;
  }

  p {
    @include u.typography-1(16);
  }
  @include u.breakpoint(medium) {
    box-shadow: 0 0 0 10px u.$secondary-color;
    text-align: left;
    .footer-logo {
      margin: initial;
      justify-self: end;
    }
  }
}
