@use '../util' as u;

@function grid($col, $offset: 0) {
  $grid-column-start: 1;
  $grid-column-end: $col + 1;
  @if $offset > 0 {
    $grid-column-start: $offset + 1;
    $grid-column-end: $grid-column-start + $col;
  }
  @return #{$grid-column-start} / #{$grid-column-end};
}

.grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-inline: auto;
  max-width: 500px;
  width: 90%;
  @include u.breakpoint(medium) {
    margin-top: 6rem;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    width: min(940px, 95%);
    max-width: initial;
    .grid-4 {
      grid-column: grid(4);
    }
    .grid-7-offset-5 {
      grid-column: grid(7, 5);
    }
    .grid-7 {
      grid-column: grid(7);
    }
    .grid-2-offset-10 {
      grid-column: grid(2, 10);
    }
  }
}
