@use '../util' as u;

.hero {
  &__img {
    border: 10px solid u.$accent-color;
    margin-inline: auto;
    width: 100%;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  &__info div {
    border-right: 2px solid u.$secondary-color;
    padding: 1rem 0.5rem 1rem 0;
  }
  &__info div:first-child {
    border-bottom: 2px solid u.$secondary-color;
  }
  &__phone {
    color: u.$highlight-color;    
  }
  @include u.breakpoint(medium) {
    &::after {
      content: '/ / / /';
      display: block;
      font-family: u.$primary-font;
      font-size: 17rem;
      line-height: 1;
      letter-spacing: -7.5rem;
      color: u.$secondary-color;
      margin-left: -1.5rem;
    }
  }
  @include u.breakpoint(large) {
    &::after {
      font-size: 22rem;
      letter-spacing: -9.7rem;
      margin-left: -2rem;
    }
  }
}
