@use '../util/' as u;

.menu {
  &__item:first-of-type {
    margin-bottom: 6rem;
  }
  &__item > div {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 4rem;
  }
  &__img,
  &__img img {
    border-radius: 50%;
  }
  &__img {
    border: 10px solid u.$accent-color;
    width: 200px;
    height: 200px;
    margin-inline: auto;
  }

  &__price {
    color: u.$input-border-color;
    margin-left: 1rem;
    font-size: 1.6rem;
    letter-spacing: -0.1rem;
  }
  li + li {
    margin-top: 1rem;
  }

  @include u.breakpoint(medium) {
    &__item > div {
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
    }

    &__img {
      margin-inline: initial;
      flex-shrink: 0;
    }
  }
  @include u.breakpoint-min-max(medium, large) {
    &__price {
      margin-left: 0;
      display: block;
    }
  }
  @include u.breakpoint(large) {
    &__price {
      white-space: nowrap;
    }
  }
}
